<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">

	<!-- If IE use the latest rendering engine -->
	<meta http-equiv="X-UA-Compatible" content="IE=edge">

	<!-- Set the page to the width of the device and set the zoon level -->
	<meta name="viewport" content="width = device-width, initial-scale = 1">
	<title>Hotel Management System - Accommodation</title>
	<!--  jQuery -->
	<script src="https://code.jquery.com/jquery-3.4.1.js"
		integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.9.0/moment-with-locales.js"></script>
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js"></script>
	<link
		href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.css"
		rel="stylesheet" />

	<!-- Bootstrap Date-Picker Plugin -->


	<style>
		/* ------------------------------------------- MAIN.CSS --------------------------------------------------------*/
		body,
		html {
			height: 100%;
		}

		.row {
			margin: 0px;
		}

		.container-fluid {
			padding: 0px;
		}

		.glyphicon.glyphicon-home {
			font-size: 20px;
			color: rgba(189, 211, 21, 0.9);
		}

		.nav-tabs,
		.nav-pills {
			font-family: Verdana, Geneva, Tahoma, sans-serif;
			text-align: center;
			height: 20%;
			margin-bottom: 0;
		}

		.nav-tabs>li,
		.nav-pills>li {
			float: none;
			display: inline-block;
			*display: inline;
			/* ie7 fix */
			zoom: 1;
			/* hasLayout ie7 trigger */

		}

		/* Main menu options */
		.nav>li>a {
			padding-top: 20px;
			padding-bottom: 20px;
			color: whitesmoke;
		}

		.nav>li>a:hover {
			background-color: rgba(189, 211, 21, 0.9);
		}

		#header {
			background-color: rgba(0, 0, 0, 0.9);
			position: relative;
			width: 100%;
			left: 0;
		}

		#login-btn {
			margin-top: 12%;
			display: inline-block;
		}

		#profile-indicator {
			padding-top: 10px;
			text-align: center;
		}

		/* ------------------------------------------- MAIN.CSS --------------------------------------------------------*/

		/* div[class="container-fluid"] {
         outline: 4px dotted rgba(0, 0, 0, 1);
         background-color: rgb(100, 0, 0, 0.2);
      }

      div[class="row"] {
         outline: 3px dotted rgb(234, 0, 255);
      }

      div[class^="col"] {
         outline: 3px dotted rgb(189, 255, 6);
      } */

		.bg {
			/* The image used */
			background-image: url("https://danw.hotglue.me/?webdesign.head.14452090501");

			/* Full height */
			position: absolute;
			height: 100%;
			width: 100%;
			left: 0;

			margin: 0px;
			padding: 0px;

			/* Center and scale the image nicely */
			background-position: center;
			background-repeat: no-repeat;
			background-size: cover;
		}

		.booking-details {
			font-size: 15px;
		}

		.clickable-rooms {
			background-color: rgb(179, 0, 0);
			text-align: center;
			font-size: 35px;
			color: black;
		}

		.room-component {
			font-size: 40px;
			padding: 30px;
			padding-right: 20px;
			padding-left: 20px;
			margin: 10px;
		}

		.roomDescription {
			font-size: 5px;
		}

		.roomInfo {
			height: 50px;
			font-size: 20px;
			font-weight: bold;
		}

		#availabilityTable {
			position: relative;
			margin-top: 100px;
			background-color: #f0ac4ed7;
		}

		#book-btn {
			width: 80%;
			height: 80%;
		}

		#btn-checkavailability {
			margin-right: 15px;
		}

		#check-availability {
			position: relative;
			margin-top: 100px;
		}

		#dropdown_type,
		#dropdown_adult,
		#dropdown_children {
			margin-right: 30px;
			width: 40%;
		}

		#roomInfoBox {
			padding-top: 50px;
		}

		#roomImage {
			width: 100%;
			height: 300px;
		}

		#viewrooms-btn {
			padding-top: 20px;
			text-align: center;
		}

		#viewrooms-btn>a {
			background-color: burlywood;
			border: none;
		}
	</style>

</head>

<body>
	<div class="container bg">

		<!-- Navigation Bar -->
		<div class="container-fluid">
			<div class="row" id="header">

				<!-- Use nav-pills, nav-tabs. To center tabs add nav-justified to the class for ul -->
				<ul class="nav nav-pills">

					<div class="nav nav-pills col-lg-3 col-md-3 col-sm-3 col-xs-3">
						<% if(userData != 'undefined' && userType != 'client') { %>
						<li class="text-center"><a href="../staff/schedule">SCHEDULE</a></li>
						<% } else { %>
						<li class="text-center"><a href="/">HOME</a></li>
						<% } %>
					</div>

					<div class="nav nav-pills col-lg-3 col-md-3 col-sm-3 col-xs-4">
						<li class="active text-center"><a href="accommodation">ACCOMMODATION</a></li>
					</div>

					<div class="nav nav-pills col-lg-3 col-md-3 col-sm-3 col-xs-3">
						<li class="text-center"><a href="pricing">PRICING</a></li>
					</div>

					<% if(userData != 'undefined') { %>
					<div class="nav nav-pills col-lg-2 col-md-2 col-sm-2 col-xs-2" id="profile-indicator">
						<a href="/dashboard"><span class="glyphicon glyphicon-home"></span></a>
						<p style="margin-bottom: 5px; color:rgba(189, 211, 21, 0.9);">Logged in as <%= userData.user.username %></p>
					</div>
					<div class="nav nav-pills col-lg-1 col-md-1 col-sm-1 col-xs-2">
						<a href="/users/logout"><button type="submit" class="btn btn-danger" role="button"
								id="login-btn">LOGOUT</button></a>
					</div>
					<% } else { %>
					<div class="nav nav-pills col-lg-2 col-md-2 col-sm-2 col-xs-2">
					
					</div>
					<div class="nav nav-pills col-lg-1 col-md-1 col-sm-1 col-xs-2">
						<a href="../users/login"><button type="submit" class="btn btn-danger" role="button"
								id="login-btn">LOGIN</button></a>
					</div>
					<% } %>
				</ul>

			</div> <!-- home-navbar -->
		</div> <!-- container-fluid // END OF TOP NAV BAR // -->

		<!--  Accommodation page contents  -->
		<div class="container-fluid">
			<div class="row">
				<!--  Check availability part 
Different views for distinct user types -->
				<% if (userType == 'client') { %>
				<div class="col-lg-4 col-md-4 col-sm-5 col-xs-12" id="check-availability">
					<div class="row">
						<p class="text-center col-lg-4 col-md-4 col-sm-4 col-xs-4">
						</p>
						<div class="bootstrap-iso">
							<div class="container-fluid">
								<div class="row">
									<div class="col-md-8 col-sm-8 col-xs-8">
										<form role="form" method="POST" action="/rooms/availability" id="form1">
											<div class="form-group ">
												<div class="input-group">
													<div class="input-group-addon">
														Check-in
													</div>
													<div class="form-group" style="height: 5px">
														<div class='input-group date' id='datetimepicker1'>
															<input type='text' class="form-control" name="date_checkin"
																placeholder="DD/MM/YYYY" onkeydown="return false" />
															<span class="input-group-addon">
																<span class="glyphicon glyphicon-calendar"></span>
															</span>
														</div>
													</div>
												</div>
												<div class="input-group">
													<div class="input-group-addon">
														Check-out
													</div>
													<div class="form-group" style="height: 5px">
														<div class='input-group date' id='datetimepicker2'>
															<input type='text' class="form-control" name="date_checkout"
																placeholder="DD/MM/YYYY" onkeydown="return false" />
															<span class="input-group-addon">
																<span class="glyphicon glyphicon-calendar"></span>
															</span>
														</div>
													</div>
												</div>
												<p class="text-right">
													<div class="form-group row" id="typeInput">
														<select class="form-control pull-right" id="dropdown_type"
															name="dropdown_type">
															<option disabled>Room Type
															</option>
															<option>Standard</option>
															<option>Ocean View</option>
															<option>Deluxe</option>
														</select>
													</div>
												</p>
												<p class="text-right">
													<div class="form-group row">
														<select class="form-control pull-right" id="dropdown_adult"
															name="dropdown_adult">
															<option disabled>Adults
															</option>
															<option>0</option>
															<option>1</option>
															<option>2</option>
															<option>3</option>
															<option>4</option>
														</select>
													</div>
												</p>
												<p class="text-right">
													<div class="form-group row">
														<select class="form-control pull-right" id="dropdown_children"
															name="dropdown_children">
															<option disabled>Children
															</option>
															<option>0</option>
															<option>1</option>
															<option>2</option>
															<option>3</option>
															<option>4</option>
														</select>
													</div>
												</p>
											</div>
										</form>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<button type="submit" class="btn btn-warning btn-md pull-right" id="btn-checkavailability"
							onclick="submitForms()">Check Availability</button>
					</div>
					<% include ./partials/messages %>
				</div>
				<% } else if (userType == 'receptionist' || userType == 'manager') { %>
				<% if(typeof roomsArray != 'undefined' && roomsArray.length > 0) { %>
				<p hidden id="roomsCount"><%= roomsArray.length %></p>
				<div class="container-fluid" style="margin-top: 10px">
					<div class="row" style="background-color: rgb(14, 12, 12, 0.9); color:white">
						<div class="col-lg-2">
							<div class="container-fluid">
								<div id="roominfo">
									<p class="h3 text-center" style="font-family: 'Brush Script MT';">Reservations</p>
									<div class="row">
										<form role="form" id="roomInfo-form" action="/rooms/roomInformation"
											method="POST">
											<div class="col-lg-8">
												<input type="text" class="form-control" placeholder="Room Number"
													id="thisRoomID" name="thisRoomID">
											</div>
											<div class="col-lg-4">
												<button type="submit" class="btn btn-primary"
													id="roomInfo-btn">Check</button>
											</div>
										</form>
									</div>
									<% if(typeof reservationsMap != 'undefined') { %>
									<table style="width:100%">
										<tr>
											<th class="text-center">Date in</th>
											<th class="text-center">Date out</th>
										</tr>
										<% reservationsMap.forEach(function(key, value) { %>
										<tr>
											<td class="text-center"><%= value %></td>
											<td class="text-center"><%= key %></td>
										</tr>
										<% }) %>
									</table>
									<% } %>
								</div>
							</div>
						</div>
						<div class="col-lg-7">
							<div class="container-fluid" style="background-color: rgba(9, 2, 12, 0.5);">
								<div class="row">
									<div class="col-lg-12">
										<p class="h3 text-center" style="font-family: 'Brush Script MT';">Room
											Information</p>
									</div>
								</div>
								<% for(var i = 1; i <= roomsArray.length; i+=6) { %>
								<div class="row">
									<% roomsArray.forEach(function(room) { %>
									<% if(room.id >= i && room.id < i+6) { %>
									<div class="col-lg-2">
										<% if(room.status == 'unavailable') { %>
										<div class="container-fluid room-component"
											style="background-color:rgba(100, 0, 0, 0.9)">
											<div class="row text-center">
												<%= room.id %>
											</div>
										</div>
										<% } else { %>
										<div class="container-fluid room-component"
											style="background-color:rgba(0, 100, 0, 0.9)">
											<div class="row text-center">
												<%= room.id %>
											</div>
										</div>
										<% } %>
									</div>
									<% } %>
									<% }) %>
								</div>
								<% } %>
							</div>
						</div>
						<div class="col-lg-3">
							<div class="row">
								<p class="h3 text-center" style="font-family: 'Brush Script MT';">Booking</p>
							</div>
							<div class="row">
								<form role="form" id="book-form" action="/rooms/receptionistBooking" method="POST">
									<div class="row">
										<div class="col-lg-4">
											<p class="booking-details">*Room number*: </p>
										</div>
										<div class="col-lg-8">
											<input type="text" class="form-control" placeholder="Room Number"
												name="roomNumber"><br>
										</div>
									</div>
									<div class="row">
										<div class="col-lg-4">
											<p class="booking-details">*Date in*: </p class="booking-details">
										</div>
										<div class="col-lg-8">
											<div class="form-group" style="height: 5px">
												<div class='input-group date' id='datetimepicker3'>
													<input type='text' class="form-control" name="date_checkin"
														placeholder="DD/MM/YYYY" onkeydown="return false" />
													<span class="input-group-addon">
														<span class="glyphicon glyphicon-calendar"></span>
													</span>
												</div>
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col-lg-4">
											<p class="booking-details">*Date out*: </p class="booking-details">
										</div>
										<div class="col-lg-8">
											<div class="form-group" style="height: 5px">
												<div class='input-group date' id='datetimepicker4'>
													<input type='text' class="form-control" name="date_checkin"
														placeholder="DD/MM/YYYY" onkeydown="return false" />
													<span class="input-group-addon">
														<span class="glyphicon glyphicon-calendar"></span>
													</span>
												</div>
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col-lg-4">
											<p class="booking-details">Full name: </p class="booking-details">
										</div>
										<div class="col-lg-8">
											<input type="text" class="form-control" placeholder="First name"
												name="firstname">
											<input type="text" class="form-control" placeholder="Last Name"
												name="lastname"><br>
										</div>
									</div>
									<div class="row">
										<div class="col-lg-4">
											<div class="booking-details">*Email*: </div class="booking-details">
										</div>
										<div class="col-lg-8">
											<input type="email" class="form-control" placeholder="Email"
												name="email"><br>
										</div>
									</div>
									<div class="row">
										<div class="col-lg-4">
											<p class="booking-details">Phone number: </p class="booking-details">
										</div>
										<div class="col-lg-8">
											<input type="text" class="form-control" placeholder="Phone number"
												name="phone"><br>
										</div>
									</div>
									<div class="row text-center">
										<input type="hidden" id="numberOfRooms" name="numberOfRooms">
										<button type="submit" class="btn btn-primary" id="book-btn"
											onclick="return beforeSubmit3()">Book Room</button>
									</div>
									<div class="row text-center">
										<% include ./partials/messages %>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
				<% } %>
				<% } else { %>
				<p>Please log in to view the contents of this page</p>
				<% } %>

				<div class="col-lg-1 col-md-1 col-sm-2 col-xs-12">
				</div>

				<!-- Display available rooms -->
				<div class="col-lg-7 col-md-7 col-sm-5 col-xs-12">
					<% if(typeof rooms != 'undefined' && rooms.length > 0) { %>
					<div class="container-fluid" id="roomInfoBox">
						<p hidden id="ids"><%= room_ids %></p>
						<div class="row">
							<div class="col-lg-8">
								<img src="./images/hotel.jpg" id="roomImage" class="img-thumbnail" alt="Room Picture">
							</div>
							<div class="col-lg-4">
								<div class="col-lg-6">
									<div class="row">
										<p class="roomInfo">Capacity : </p>
									</div>
									<div class="row">
										<p class="roomInfo">Price : </p>
									</div>
									<div class="row">
										<p class="roomInfo">Checkin : </p>
									</div>
									<div class="row">
										<p class="roomInfo">Checkout : </p>
									</div>
								</div>
								<div class="col-lg-6">
									<div class="row">
										<p class="roomInfo" id="capacity"><%= dropdown_adult + dropdown_children %></p>
									</div>
									<div class="row">
										<p class="roomInfo" id="price">
											<%= (Math.ceil(Math.abs(date_checkout - date_checkin) / (1000 * 60 * 60 * 24))) * (dropdown_adult * rooms[0].price_adult + dropdown_children * rooms[0].price_child) %>&euro;
										</p>
									</div>
									<div class="row">
										<p class="roomInfo" id="checkin">
											<%= date_checkin.getDate() + "/" + (date_checkin.getMonth() + 1) + "/" +  date_checkin.getFullYear() %>
										</p>
									</div>
									<div class="row">
										<p class="roomInfo" id="checkout">
											<%= date_checkout.getDate() + "/" + (date_checkout.getMonth() + 1) + "/" +  date_checkout.getFullYear() %>
										</p>
									</div>
								</div>
								<div class="row">
									<td class="text-center">
										<form role="form" id="book-form" action="/rooms/booking" method="POST">
											<input type="hidden" id="fromDate_data" name="fromDate">
											<input type="hidden" id="toDate_data" name="toDate">
											<input type="hidden" id="room_ids" name="room_ids">
											<button type="submit" class="btn btn-primary" id="book-btn"
												onclick="return beforeSubmit()">Book Room</button>
										</form>
									</td>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="alert alert-danger" role="alert">
								There are <%= room_ids.length %> rooms available now.
							</div>
						</div>
					</div>
					<div class="alert alert-success" role="alert">
						<span type="button" data-dismiss="alert"><span aria-hidden="true"></span></span>
						**NOTE: Price for a night. Adult: 50&euro;; Child (under 12): 25&euro;
					</div>
					<% } %>
				</div>

			</div>
		</div>

	</div>

	<!-- Datepicker functionality-->
	<script>
		var dateNow = new Date()
		var currentTime = dateNow.getHours()
		if (currentTime < 12) {
			$('#datetimepicker1').datetimepicker({
				format: 'YYYY/MM/DD',
				minDate: moment().millisecond(0).second(0).minute(0).hour(0)
			})
		} else {
			$('#datetimepicker1').datetimepicker({
				format: 'YYYY/MM/DD',
				minDate: moment().add(1, "days").millisecond(0).second(0).minute(0).hour(0)
			})
		}


		if (currentTime < 12) {
			$('#datetimepicker2').datetimepicker({
				format: 'YYYY/MM/DD',
				minDate: moment().millisecond(0).second(0).minute(0).hour(0)
			})
		} else {
			$('#datetimepicker2').datetimepicker({
				format: 'YYYY/MM/DD',
				minDate: moment().add(1, "days").millisecond(0).second(0).minute(0).hour(0)
			})
		}

		$('#datetimepicker1').on("dp.change", function (e) {
			$('#datetimepicker2').data("DateTimePicker").minDate(e.date);
		})

		$('#datetimepicker2').on("dp.change", function (e) {
			$('#datetimepicker1').data("DateTimePicker").maxDate(e.date);
		});
	</script>
	<script>
		var dateNow = new Date()
		var currentTime = dateNow.getHours()
		$('#datetimepicker3').datetimepicker({
			format: 'YYYY/MM/DD',
			minDate: moment().millisecond(0).second(0).minute(0).hour(0)
		})

		$('#datetimepicker4').datetimepicker({
			format: 'YYYY/MM/DD',
			minDate: moment().millisecond(0).second(0).minute(0).hour(0),
			useCurrent: false
		})

		$('#datetimepicker3').on("dp.change", function (e) {
			$('#datetimepicker4').data("DateTimePicker").minDate(e.date);
		})

		$('#datetimepicker4').on("dp.change", function (e) {
			$('#datetimepicker3').data("DateTimePicker").maxDate(e.date);
		});
	</script>

	<!-- Set the data for the hidden inputs -->
	<script>
		function beforeSubmit() {
			document.getElementById('fromDate_data').value = document.getElementById('checkin').innerText
			document.getElementById('toDate_data').value = document.getElementById('checkout').innerText
			document.getElementById('room_ids').value = document.getElementById('ids').innerText
		}
	</script>

	<!-- Set the data for the hidden inputs -->
	<script>
		function beforeSubmit2() {
			document.getElementById('thisRoomID').value = document.getElementById('roomID').innerText
			document.getElementById('thisRoomCap').value = document.getElementById('roomCap').innerText
		}
	</script>

	<!-- Set the data for the hidden inputs -->
	<script>
		function beforeSubmit3() {
			document.getElementById('numberOfRooms').value = document.getElementById('roomsCount').innerText
		}
	</script>

	<!-- Submit both forms with one button -->
	<script>
		submitForms = function () {
			document.getElementById("form1").submit();
			document.getElementById("form2").submit();
		}
	</script>

</body>

</html>