<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">

	<!-- If IE use the latest rendering engine -->
	<meta http-equiv="X-UA-Compatible" content="IE=edge">

	<!-- Set the page to the width of the device and set the zoon level -->
	<meta name="viewport" content="width = device-width, initial-scale = 1">
	<title>Hotel Management System - Dashboard</title>
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

	<style>
		/* ------------------------------------------- MAIN.CSS --------------------------------------------------------*/
		body,
		html {
			height: 100%;
			font-family: Verdana, Geneva, Tahoma, sans-serif;
		}

		.row {
			margin: 0px;
		}

		.container-fluid {
			padding: 0px;
		}

		.glyphicon.glyphicon-home {
			font-size: 20px;
			color: rgba(189, 211, 21, 0.9);
		}

		.nav-tabs,
		.nav-pills {
			font-family: Verdana, Geneva, Tahoma, sans-serif;
			text-align: center;
			height: 20%;
			margin-bottom: 0;
		}

		.nav-tabs>li,
		.nav-pills>li {
			float: none;
			display: inline-block;
			*display: inline;
			/* ie7 fix */
			zoom: 1;
			/* hasLayout ie7 trigger */

		}

		/* Main menu options */
		.nav>li>a {
			padding-top: 20px;
			padding-bottom: 20px;
			color: whitesmoke;
		}

		.nav>li>a:hover {
			background-color: rgba(189, 211, 21, 0.9);
		}

		#header {
			background-color: rgba(0, 0, 0, 0.9);
			position: relative;
			width: 100%;
			left: 0;
		}

		#login-btn {
			margin-top: 12%;
			display: inline-block;
		}

		#profile-indicator {
			padding-top: 10px;
			text-align: center;
		}

		/* ------------------------------------------- MAIN.CSS --------------------------------------------------------*/

		 /* div[class="container-fluid"] {
         outline: 4px dotted rgba(0, 0, 0, 1);
         background-color: rgb(100, 0, 0, 0.2);
      } */

     /* div[class="row"] {
         outline: 3px dotted rgb(234, 0, 255);
      } */

      /* div[class^="col"] {
         outline: 3px dotted rgb(189, 255, 6);
      } */

	  	.avatar {
			vertical-align: middle;
			width: 50%;
			height: 50%;
			border-radius: 50%;
			margin-bottom: 30px;
		}

		.bg {
			/* The image used */
			background-image: url("https://danw.hotglue.me/?webdesign.head.14452090501");

			/* Full height */
			position: absolute;
			height: 100%;
			width: 100%;
			left: 0;

			margin: 0px;
            padding: 0px;

			/* Center and scale the image nicely */
			background-position: center;
			background-repeat: no-repeat;
			background-size: cover;

			display: block;
			overflow: auto;
		}
		
        .badge {
            position: absolute;
            top: 22px;
            right: 42px;
            padding: 5px 10px;
            border-radius: 50%;
            background-color: red;
            color: white;
        }

		.borderless td, .borderless th {
			border: none;
		}

		.details-component {
			margin-top: 15px;
			font-size: 2em;
		}

		.glyphicon.glyphicon-user {
			font-size: 150px;
		}

		.glyphicon.glyphicon-equalizer {
			font-size: 25px;
		}

		.nav-item {
			margin-left: 50px;
			font-size: 20px;
		}

		.nav>li>a.active {
			background-color: rgba(0, 0, 0, 0.9);
		}

		.nav-link {
			border-radius: 10px;
		}

		.payslip {
			margin-top: 10px;
			margin-bottom: 20px;
			border-style: solid;
			background-color: rgba(179, 185, 134, 0.9);
			color: black;
		}

		#btn-checkavailability {
			margin-right: 15px;
		}

		#content {
			/* Rounded corners */
			border-radius: 75px;

			padding-top:20px; 
			padding-bottom:20px; 
            padding-right: 15px;
			margin-top: 20px;
			margin-left:5%; 
			margin-right:5%;
			background-color: rgba(49, 3, 9, 0.3)
		}

        #content-inner {
			/* Rounded corners */
			border-radius: 40px;
			background-color: rgba(49, 3, 9, 0.3)
		}

		#content-locked {
			background-color: rgba(168, 44, 44, 0.61);
			border-radius: 25px;
			padding-top: 150px;
			padding-bottom: 150px;
		}

		#userMenu {
			position: relative;
			margin-top: 40px;
		}

		#userReservationsHeader {
			background-color:rgba(0, 0, 0, 0.9); 
			margin-bottom:0px; 
			padding-bottom:5px; 
			padding-top:5px;
			border-radius:5px;
		}

		#dropdown-adult,
		#dropdown-children {
			margin-right: 30px;
			width: 25%;
		}

		#existingPayslip {
			background-color: rgba(2, 0, 128, 0.692);
			border-style: solid 1px;
			border-radius: 5px;
			padding-top: 5px;
			padding-bottom: 5px;
			margin-bottom: 20px;
		}

		#form1 {
			margin-bottom:60px;
		}
		
		#lock {
			vertical-align: middle;
			width: 50%;
			height: 50%;
			border-radius: 20%;
			margin-bottom: 30px;
		}

        #notificationsTable {
            position: relative;
            margin-left: 100px;
        }

        #noNotifications {
            padding-top: 20%;
            padding-bottom: 20%;
            text-align: center;
            color: black;
        }

		#payslip-header {
			margin-left: 15px;
			margin-right: 15px;
			margin-top: 10px;
			padding-top: 15px;
			padding-bottom: 15px;
			border-radius: 15px;
			border-style: solid 1px;
			background-color:rgba(0, 0, 0, 0.9);
			color: white;
			font-size: 20px;
		}

		#personalDetails {
			padding-top: 30px;
			text-align: center;
			font-size: 3em;
		}

		#reservationsTable {
			border-radius:10px;
		}

		#userIndicator {
			padding-top: 5px;
			margin-top: 10px;
			margin-bottom: 10px;
			display: inline-block;
			*display: inline;
			/* ie7 fix */
			zoom: 1;
			/* hasLayout ie7 trigger */
		}

		#viewrooms-btn {
			padding-top: 20px;
			text-align: center;
		}

		#viewrooms-btn>a {
			background-color: burlywood;
			border: none;
		}
	</style>

</head>

<body>
	<div class="container bg">

		<!-- Navigation Bar -->
		<div class="container-fluid">
			<div class="row" id="header">

				<!-- Use nav-pills, nav-tabs. To center tabs add nav-justified to the class for ul -->
				<ul class="nav nav-pills">

					<% if (userType != 'owner') { %>
						<div class="nav nav-pills col-lg-3 col-md-3 col-sm-3 col-xs-3">
							<% if(userData != 'undefined' && userType != 'client') { %>
							<li class="text-center"><a href="../staff/schedule">SCHEDULE</a></li>
							<% } else { %>
							<li class="text-center"><a href="/">HOME</a></li>
							<% } %>
						</div>
	
						<div class="nav nav-pills col-lg-3 col-md-3 col-sm-3 col-xs-4">
							<li class="text-center"><a href="../rooms/accommodation">ACCOMMODATION</a></li>
						</div>
	
						<div class="nav nav-pills col-lg-3 col-md-3 col-sm-3 col-xs-3">
							<li class="text-center"><a href="../rooms/pricing">PRICING</a></li>
						</div>
					<% } else { %>
						<div class="nav nav-pills col-lg-3 col-md-3 col-sm-3 col-xs-3">
							<li class="text-center"><a href="/"><span class="glyphicon glyphicon-equalizer"></span></a></li>
						</div>
	
						<div class="nav nav-pills col-lg-6 col-md-8 col-sm-12 col-xs-12">
						</div>
					<% } %>

					<div class="nav nav-pills col-lg-2 col-md-2 col-sm-2 col-xs-2" id="profile-indicator">
						<a href="../../dashboard"><span class="glyphicon glyphicon-home"></span></a>
						<p style="margin-bottom: 5px; color:rgba(189, 211, 21, 0.9);">Logged in as <%= userData.user.username %></p>
					</div>
					<div class="nav nav-pills col-lg-1 col-md-1 col-sm-1 col-xs-2">
						<a href="/users/logout"><button type="submit" class="btn btn-danger" role="button"
								id="login-btn">LOGOUT</button></a>
					</div>

				</ul>

			</div> <!-- home-navbar -->
		</div> <!-- container-fluid // END OF TOP NAV BAR // -->

		<!--  Dashboard page contents  -->
		<div class="container-fluid" id="content">
			<div class="row" style="color:white;">

				<!--  Profile menu part  -->
				<div class="col-lg-3 col-md-4 col-sm-4 col-xs-12" id="userMenu">
					<div class="row">
						<div class="text-center col-lg-12 col-md-12 col-sm-12 col-xs-12">
							<% if (userType == 'client') { %>
								<img src="../images/user.png" alt="Avatar" class="avatar">
							<% } else if (userType == 'receptionist') { %>
								<img src="../images/receptionist.png" alt="Avatar" class="avatar">
							<% } else if (userType == 'manager') { %>
								<img src="../images/manager.png" alt="Avatar" class="avatar">
							<% } else if (userType == 'owner') { %>
								<img src="../images/boss.png" alt="Avatar" class="avatar">
							<% } %>
						</div>
					</div>
					<div class="row">
						<ul class="nav flex-column">
							<li class="nav-item">
								<a class="nav-link" href="../../dashboard">Profile</a>
							</li>
							<li class="nav-item">
								<a class="nav-link active" href="payment">Payment</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="../../dashboard/notifications">
                                    Notifications 
                                    <% if(typeof notificationsArray != 'undefined' && notificationsArray.length > 0) { %>
                                        <span class="badge">
                                            <%= notificationsArray.length %>
                                        </span>
                                    <% } %>
                                </a>
							</li>
							<% if (userType == 'manager' || userType == 'receptionist') { %>
							<li class="nav-item">
								<a class="nav-link" href="../../dashboard/reservations">Reservations</a>
							</li>
							<% } else { %>
							<li class="nav-item">
								<a class="nav-link" href="../../dashboard/progress">Progress</a>
							</li>
							<% } %>
							<li class="nav-item">
								<a class="nav-link" href="../../dashboard/settings">System settings</a>
							</li>
						</ul>
					</div>
				</div>

				<% if (typeof receptionist_name != 'undefined' && typeof month_p != 'undefined') { %>
					<p hidden id="receptionist_name"><%= receptionist_name %></p>
					<p hidden id="month_p"><%= month_p %></p>
				<% } %>

				<div class="col-lg-9 col-md-6 col-sm-8 col-xs-12" id="content-inner">
					<% if (userType == 'manager' || userType == 'owner') { %>
						<div class="row">
							<div class="text-center" id="payslip-header">
								Receptionists payslip generator
							</div>
						</div>
						<div class="row">
							<form role="form" method="POST" action="/staff/generatePayslip" id="form1">
								<div class="form-group">
									<div class="col-lg-4">
										<select class="form-control pull-right" id="dropdown_receptionist"
										   name="dropdown_receptionist">
										   <option disabled>Receptionist</option>
										   <% receptionistMap.forEach(function(value, key) { %>
											<option><%= key %></option>
											<% }) %>
										</select>
									 </div>
									 <div class="col-lg-4">
										<select class="form-control pull-right" id="dropdown_month" name="dropdown_month">
										   <option disabled>Month</option>
										   <% monthsArray.forEach(function(month) { %>
											<option><%= month %></option>
											<% }) %>
										</select>
									 </div>
									 <div class="col-lg-2" id="generate">
										<button type="submit" class="btn btn-warning btn-md pull-right"
										   id="btn-generate">Generate Payslip</button>
									 </div>
									 <div class="col-lg-2">
										<% if (typeof newPayslip != 'undefined' ) { %>
											<div class="text-center" style="background-color:green; border-style: solid 1px; padding-top:7px; padding-bottom:7px;">Success</div>
										<% } %>
										<% if (typeof successfulDeletion != 'undefined' && successfulDeletion == true) { %>
											<div class="text-center" style="background-color:green; border-style: solid 1px; padding-top:7px; padding-bottom:7px;">Success</div>
										<% } %>
									 </div>
								</div>
							</form>
						</div>
						<% if (typeof errorMessage != 'undefined') { %>
						<div class="row">
							<div class="col-lg-8 text-center">
								<div id="existingPayslip">
								<%= errorMessage %>
								</div>
							</div>
							<div class="col-lg-2 text-center">
								<form role="form" method="POST" action="/staff/deleteOutdatedPayslip" id="form2">
									<input type="hidden" id="receptionistName" name="receptionistName">
									<input type="hidden" id="month" name="month">
									<button type="submit" class="btn btn-danger" onclick="return beforeSubmit()">Delete old payslip</button>
								</form>
							</div>
						</div>
						<% } %>
					<% } %>
					<% if (typeof newPayslip != 'undefined') { %>
						<div class="payslip">
							<div class="row">
								<div class="text-center" style="background-color: rgba(2, 0, 128, 0.692); padding-top: 3px; padding-bottom: 3px;">
									Payslip
								</div>
							</div>
							<div class="row">
								<div class="col-lg-6" style="padding-left: 15%; padding-top: 1%;">
									Company name: Hotel Management System
								</div>
								<div class="col-lg-4" style="padding-left: 15%; padding-top: 1%;">
									Pay Period: <%= newPayslip.month %>
								</div>
							</div>
							<hr>
							<div class="row">
								<div class="col-lg-6">
									<div class="row">
										<div class="col-lg-6 text-center" style="background-color: rgba(2, 0, 128, 0.692);">
											Description
										</div>
										<div class="col-lg-5 col-lg-offset-1 text-center" style="background-color: rgba(2, 0, 128, 0.692);">
											Amount
										</div>
									</div>
									<div class="row">
										<div class="col-lg-6 text-center">
											Hours
										</div>
										<div class="col-lg-5 col-lg-offset-1 text-center">
											<%= newPayslip.hours %>
										</div>
									</div>
									<div class="row">
										<div class="col-lg-6 text-center">
											Rate
										</div>
										<div class="col-lg-5 col-lg-offset-1 text-center">
											<%= newPayslip.rate %>
										</div>
									</div>
									<div class="row">
										<div class="col-lg-6 text-center">
											Gross pay
										</div>
										<div class="col-lg-5 col-lg-offset-1 text-center">
											<%= newPayslip.gross_pay %>
										</div>
									</div>
									<div class="row">
										<div class="col-lg-6 text-center">
											Tax
										</div>
										<div class="col-lg-5 col-lg-offset-1 text-center">
											<%= newPayslip.tax %>
										</div>
									</div>
									<div class="row">
										<div class="col-lg-6 text-center">
											Nat Insurance
										</div>
										<div class="col-lg-5 col-lg-offset-1 text-center">
											<%= newPayslip.national_insurance %>
										</div>
									</div>
									<div class="row">
										<div class="col-lg-6 text-center">
											EE Pension
										</div>
										<div class="col-lg-5 col-lg-offset-1 text-center">
											0.00
										</div>
									</div>
									<div class="row">
										<div class="col-lg-6 text-center">
											ER Pesnion
										</div>
										<div class="col-lg-5 col-lg-offset-1 text-center">
											0.00
										</div>
									</div>
								</div>
								<div class="col-lg-6">
									<div class="row">
										<div class="col-lg-6 text-center" style="margin-top: 40px;">
											Employee ID
										</div>
										<div class="col-lg-6 text-center" style="margin-top: 40px;">
											<%= newPayslip.receptionist_id %>
										</div>
									</div>
									<div class="row">
										<div class="col-lg-6 text-center">
											Employee name
										</div>
										<div class="col-lg-6 text-center">
											<%= newPayslip.firstname %>&nbsp;<%= newPayslip.lastname %> 
										</div>
									</div>
									<div class="row">
										<div class="col-lg-6 text-center">
											Net pay
										</div>
										<div class="col-lg-6 text-center">
											<%= newPayslip.net_pay %>
										</div>
									</div>
								</div>
							</div>
						</div>
					<% } %>
					<% if (userType == 'receptionist') { %>
						<% if (typeof payslipsArray != 'undefined') { %>
							<% payslipsArray.forEach(function(payslip) { %>
								<div class="payslip">
									<div class="row">
										<div class="text-center" style="background-color: rgba(2, 0, 128, 0.692); padding-top: 3px; padding-bottom: 3px;">
											Payslip
										</div>
									</div>
									<div class="row">
										<div class="col-lg-6" style="padding-left: 15%; padding-top: 1%;">
											Company name: Hotel Management System
										</div>
										<div class="col-lg-4" style="padding-left: 15%; padding-top: 1%;">
											Pay Period: <%= payslip.month %>
										</div>
									</div>
									<hr>
									<div class="row">
										<div class="col-lg-6">
											<div class="row">
												<div class="col-lg-6 text-center" style="background-color: rgba(2, 0, 128, 0.692);">
													Description
												</div>
												<div class="col-lg-5 col-lg-offset-1 text-center" style="background-color: rgba(2, 0, 128, 0.692);">
													Amount
												</div>
											</div>
											<div class="row">
												<div class="col-lg-6 text-center">
													Hours
												</div>
												<div class="col-lg-5 col-lg-offset-1 text-center">
													<%= payslip.hours %>
												</div>
											</div>
											<div class="row">
												<div class="col-lg-6 text-center">
													Rate
												</div>
												<div class="col-lg-5 col-lg-offset-1 text-center">
													<%= payslip.rate %>
												</div>
											</div>
											<div class="row">
												<div class="col-lg-6 text-center">
													Gross pay
												</div>
												<div class="col-lg-5 col-lg-offset-1 text-center">
													<%= payslip.gross_pay %>
												</div>
											</div>
											<div class="row">
												<div class="col-lg-6 text-center">
													Tax
												</div>
												<div class="col-lg-5 col-lg-offset-1 text-center">
													<%= payslip.tax %>
												</div>
											</div>
											<div class="row">
												<div class="col-lg-6 text-center">
													Nat Insurance
												</div>
												<div class="col-lg-5 col-lg-offset-1 text-center">
													<%= payslip.national_insurance %>
												</div>
											</div>
											<div class="row">
												<div class="col-lg-6 text-center">
													EE Pension
												</div>
												<div class="col-lg-5 col-lg-offset-1 text-center">
													0.00
												</div>
											</div>
											<div class="row">
												<div class="col-lg-6 text-center">
													ER Pesnion
												</div>
												<div class="col-lg-5 col-lg-offset-1 text-center">
													0.00
												</div>
											</div>
										</div>
										<div class="col-lg-6">
											<div class="row">
												<div class="col-lg-6 text-center" style="margin-top: 40px;">
													Employee ID
												</div>
												<div class="col-lg-6 text-center" style="margin-top: 40px;">
													<%= payslip.receptionist_id %>
												</div>
											</div>
											<div class="row">
												<div class="col-lg-6 text-center">
													Employee name
												</div>
												<div class="col-lg-6 text-center">
													<%= payslip.firstname %>&nbsp;<%= payslip.lastname %> 
												</div>
											</div>
											<div class="row">
												<div class="col-lg-6 text-center">
													Net pay
												</div>
												<div class="col-lg-6 text-center">
													<%= payslip.net_pay %>
												</div>
											</div>
										</div>
									</div>
								</div>
							<% }) %>
						<% } %>
					<% } %>
					<% if (userType == 'client') { %>
						<h2 class="text-center" id="userReservationsHeader">My Reservations</h2>
						<% if (typeof userReservations != 'undefined') { %>
							<div class="container-fluid">
								<div class="row">
									<table class="table table-sm table-dark text-center" id="reservationsTable">
										<thead style="background-color:rgba(189, 211, 21, 0.9)">
											<tr>
											<th scope="col" class="text-center">Room #</th>
											<th scope="col" class="text-center">Date in</th>
											<th scope="col" class="text-center">Date out</th>
											</tr>
										</thead>
										<tbody>
											<% userReservations.forEach(function(reservation) { %>
												<tr style="background-color:rgba(0, 0, 0, 0.5)">
													<th scope="row" class="text-center"><%= reservation.room_id %></th>
													<td><%= reservation.date_in.getDate() + "/" + reservation.date_in.getMonth() + "/" + reservation.date_in.getFullYear() %></td>
													<td><%= reservation.date_out.getDate() + "/" + reservation.date_out.getMonth() + "/" + reservation.date_out.getFullYear() %></td>
												</tr>
											<% }) %>
										</tbody>
									</table>
								</div>
							</div>
						<% } %>
					<% } %>
				</div>
				
			</div>
		</div>

    </div>
	
	<!-- Set the data for the hidden inputs -->
	<script>
		function beforeSubmit() {
			document.getElementById('receptionistName').value = document.getElementById('receptionist_name').innerText
			document.getElementById('month').value = document.getElementById('month_p').innerText
		}
	</script>
</body>

</html>