<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">

    <!-- If IE use the latest rendering engine -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- Set the page to the width of the device and set the zoon level -->
    <meta name="viewport" content="width = device-width, initial-scale = 1">
    <title>Hotel Management System - Pricing</title>
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <style>
        /* ------------------------------------------- MAIN.CSS --------------------------------------------------------*/
      body,
      html {
         height: 100%;
      }

      .row {
          margin:0px;
      }

      .container {
        padding-right: 0px;
        padding-left: 0px;
      }

      .container-fluid {
         padding: 0px;
      }

      .glyphicon.glyphicon-home {
         font-size: 20px;
         color: rgba(189, 211, 21, 0.9);
      }

      .nav-tabs,
      .nav-pills {
         font-family: Verdana, Geneva, Tahoma, sans-serif;
         text-align: center;
         height: 20%;
         margin-bottom: 0;
      }

      .nav-tabs>li,
      .nav-pills>li {
         float: none;
         display: inline-block;
         *display: inline;
         /* ie7 fix */
         zoom: 1;
         /* hasLayout ie7 trigger */

      }

      /* Main menu options */
      .nav>li>a {
         padding-top: 20px;
         padding-bottom: 20px;
         color: whitesmoke;
      }

      .nav>li>a:hover {
         background-color: rgba(189, 211, 21, 0.9);
      }

      #header {
         background-color: rgba(0, 0, 0, 0.9);
         position: relative;
         width: 100%;
         left: 0;
      }

      #login-btn {
         margin-top: 12%;
         display: inline-block;
      }

      #profile-indicator {
         padding-top: 10px;
         text-align: center;
      }

      /* ------------------------------------------- MAIN.CSS --------------------------------------------------------*/

      /* div[class="row"] {
outline: 3px dotted rgb(234, 0, 255);
}

div[class="container"] {
outline: 4px dotted rgba(0, 0, 0, 1);
background-color: rgb(100, 0, 0, 0.2);
} */

      /* div[class^="col"] {
outline: 3px dotted rgb(189, 255, 6);
} */

        .bg {
            /* The image used */
            background-image: url("https://danw.hotglue.me/?webdesign.head.14452090501");
            /* Full height */
            position: absolute;
            height: 100%;
            width: 100%;
            left: 0;

            margin: 0px;
            padding: 0px;

            /* Center and scale the image nicely */
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }

        .priceInput {
            width: 100%;
            text-align: center;
        }

        #viewrooms-btn {
            padding-top: 20px;
            text-align: center;
        }

        #viewrooms-btn>a {
            background-color: burlywood;
            border: none;
        }
    </style>

</head>

<body>
    <div class="container bg">
        
        <!-- Navigation Bar -->
        <div class="container-fluid">
            <div class="row" id="header">

                <!-- Use nav-pills, nav-tabs. To center tabs add nav-justified to the class for ul -->
                <ul class="nav nav-pills">

                    <div class="nav nav-pills col-lg-3 col-md-3 col-sm-3 col-xs-3">
                        <% if(userData != 'undefined' && userType != 'client') { %>
                        <li class="text-center"><a href="../staff/schedule">SCHEDULE</a></li>
                        <% } else { %>
                        <li class="text-center"><a href="/">HOME</a></li>
                        <% } %>
                    </div>

                    <div class="nav nav-pills col-lg-3 col-md-3 col-sm-3 col-xs-4">
                        <li class="text-center"><a href="accommodation">ACCOMMODATION</a></li>
                    </div>

                    <div class="nav nav-pills col-lg-3 col-md-3 col-sm-3 col-xs-3">
                        <li class="active text-center"><a href="pricing">PRICING</a></li>
                    </div>

                    <% if(userData != 'undefined') { %>
                    <div class="nav nav-pills col-lg-2 col-md-2 col-sm-2 col-xs-2" id="profile-indicator">
                        <a href="../dashboard"><span class="glyphicon glyphicon-home"></span></a>
                        <p style="margin-bottom: 5px; color:rgba(189, 211, 21, 0.9);">Logged in as <%= userData.user.username %></p>
                    </div>
                    <div class="nav nav-pills col-lg-1 col-md-1 col-sm-1 col-xs-2">
                        <a href="/users/logout"><button type="submit" class="btn btn-danger" role="button"
                                id="login-btn">LOGOUT</button></a>
                    </div>
                    <% } else { %>
                    <div class="nav nav-pills col-lg-2 col-md-2 col-sm-2 col-xs-2">
                        
                    </div>
                    <div class="nav nav-pills col-lg-1 col-md-1 col-sm-1 col-xs-2">
                        <a href="/users/login"><button type="submit" class="btn btn-danger" role="button"
                                id="login-btn">LOGIN</button></a>
                    </div>
                    <% } %>
                </ul>

            </div> <!-- header -->
        </div> <!-- container-fluid -->

        <div class="container-fluid">
                <div class="row">
                <div class="col-lg-12">
                    
                    <div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="false">
                        <!-- Indicators -->
                        <ol class="carousel-indicators">
                            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                            <li data-target="#myCarousel" data-slide-to="1"></li>
                            <li data-target="#myCarousel" data-slide-to="2"></li>
                        </ol>

                        <!-- Wrapper for slides -->
                        <div class="carousel-inner">
                            <div class="item active">
                                <img src="./images/room.jpg" alt="" style="width:100%; height:200px">
                                <div class="carousel-caption d-none d-md-block">
                                    <h5 id="roomtype1"><%= roomsType[0].type %></h5>
                                    <div class="row">
                                        <div class="col-lg-4"></div>
                                        <div class="col-lg-4">
                                            <p>Adult: <%= roomsType[0].price_adult %>&euro;</p>
                                            <% if (userType == 'manager') { %>
                                            <form role="form" action="/rooms/editAdultPrice" method="POST">
                                                <input type="hidden" name="roomType">
                                                <input type="text" class="form-control priceInput"
                                                    placeholder="New price" name="newAdultPrice">
                                                <button type="submit" class="btn btn-primary"
                                                    onclick="return beforeSubmit1()">Edit</button>
                                            </form>
                                            <% } %>
                                        </div>
                                        <div class="col-lg-4"></div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-4"></div>
                                        <div class="col-lg-4">
                                            <p>Child: <%= roomsType[0].price_child %>&euro;</p>
                                            <% if (userType == 'manager') { %>
                                            <form role="form" action="/rooms/editChildPrice" method="POST">
                                                <input type="hidden" name="roomType">
                                                <input type="text" class="form-control priceInput"
                                                    placeholder="New price" name="newChildPrice">
                                                <button type="submit" class="btn btn-primary"
                                                    onclick="return beforeSubmit2()">Edit</button>
                                            </form>
                                            <% } %>
                                        </div>
                                        <div class="col-lg-4"></div>
                                    </div>
                                </div>
                            </div>

                            <div class="item">
                                <div class="carousel-caption d-none d-md-block">
                                    <h5 id="roomtype2"><%= roomsType[1].type %></h5>
                                    <div class="row">
                                        <div class="col-lg-4"></div>
                                        <div class="col-lg-4">
                                            <p>Adult: <%= roomsType[1].price_adult %>&euro;</p>
                                            <% if (userType == 'manager') { %>
                                            <form role="form" action="/rooms/editAdultPrice" method="POST">
                                                <input type="hidden" name="roomType">
                                                <input type="text" class="form-control priceInput"
                                                    placeholder="New price" name="newAdultPrice">
                                                <button type="submit" class="btn btn-primary"
                                                    onclick="return beforeSubmit3()">Edit</button>
                                            </form>
                                            <% } %>
                                        </div>
                                        <div class="col-lg-4"></div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-4"></div>
                                        <div class="col-lg-4">
                                            <p>Child: <%= roomsType[1].price_child %>&euro;</p>
                                            <% if (userType == 'manager') { %>
                                            <form role="form" action="/rooms/editChildPrice" method="POST">
                                                <input type="hidden" name="roomType">
                                                <input type="text" class="form-control priceInput"
                                                    placeholder="New price" name="newChildPrice">
                                                <button type="submit" class="btn btn-primary"
                                                    onclick="return beforeSubmit4()">Edit</button>
                                            </form>
                                            <% } %>
                                        </div>
                                        <div class="col-lg-4"></div>
                                    </div>
                                </div>
                            </div>

                            <div class="item">
                                <div class="carousel-caption d-none d-md-block">
                                    <h5 id="roomtype3"><%= roomsType[2].type %></h5>
                                    <div class="row">
                                        <div class="col-lg-4"></div>
                                        <div class="col-lg-4">
                                            <p>Adult: <%= roomsType[2].price_adult %>&euro;</p>
                                            <% if (userType == 'manager') { %>
                                            <form role="form" action="/rooms/editAdultPrice" method="POST">
                                                <input type="hidden" name="roomType">
                                                <input type="text" class="form-control priceInput"
                                                    placeholder="New price" name="newAdultPrice">
                                                <button type="submit" class="btn btn-primary"
                                                    onclick="return beforeSubmit5()">Edit</button>
                                            </form>
                                            <% } %>
                                        </div>
                                        <div class="col-lg-4"></div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-4"></div>
                                        <div class="col-lg-4">
                                            <p>Child: <%= roomsType[2].price_child %>&euro;</p>
                                            <% if (userType == 'manager') { %>
                                            <form role="form" action="/rooms/editChildPrice" method="POST">
                                                <input type="hidden" name="roomType">
                                                <input type="text" class="form-control priceInput"
                                                    placeholder="New price" name="newChildPrice">
                                                <button type="submit" class="btn btn-primary"
                                                    onclick="return beforeSubmit6()">Edit</button>
                                            </form>
                                            <% } %>
                                        </div>
                                        <div class="col-lg-4"></div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Left and right controls -->
                        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                            <span class="glyphicon glyphicon-chevron-left"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="right carousel-control" href="#myCarousel" data-slide="next">
                            <span class="glyphicon glyphicon-chevron-right"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                </div>
            </div>
            <% include ./partials/messages %>
        </div>

    </div>

    <!-- Set the data for the hidden inputs -->
    <script>
        function beforeSubmit1() {
            document.getElementsByName('roomType')[0].value = document.getElementById('roomtype1').innerText
        }
    </script>

    <script>
        function beforeSubmit2() {
            document.getElementsByName('roomType')[1].value = document.getElementById('roomtype1').innerText
        }
    </script>

    <script>
        function beforeSubmit3() {
            document.getElementsByName('roomType')[2].value = document.getElementById('roomtype2').innerText
        }
    </script>

    <script>
        function beforeSubmit4() {
            document.getElementsByName('roomType')[3].value = document.getElementById('roomtype2').innerText
        }
    </script>

    <script>
        function beforeSubmit5() {
            document.getElementsByName('roomType')[4].value = document.getElementById('roomtype3').innerText
        }
    </script>

    <script>
        function beforeSubmit6() {
            document.getElementsByName('roomType')[5].value = document.getElementById('roomtype3').innerText
        }
    </script>

</body>

</html>